* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /*background: linear-gradient(to right, green, rgb(32, 83, 32));*/
  background-image: url(../images/snakewp.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #ffffff;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
}

#scores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.canvas {
  border: 3px solid cornsilk;
  background-image: url(../images/grid.jpg);
  background-size: 30px;
}
